# Capstone Project: Udacity Machine Learning Engineer
## Hans Fricke 2018
### Data cleaning

In [12]:
# import packages
import pandas as pd
import os
import string
import datetime
import hunspell
hobj = hunspell.HunSpell('/Library/Spelling/en_US.dic',
                         '/Library/Spelling/en_US.aff')

from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

In [13]:
# display formatting
%matplotlib inline 
pd.options.display.float_format = '{:20,.2f}'.format

# change working directory
os.chdir("/Users/hansfricke/Dropbox/ND ML Engineer/Capstone/Data")

#### Proposal data

In [14]:
proposals = pd.read_pickle('proposals.pkl')

In [15]:
proposals.head()

,id,teacher_id,teacher_prefix,state,datetime,grade_category,subject_categories,subject_subcategories,title,essay_1,essay_2,essay_3,essay_4,resource_summary,previously_posted_projects,approved
0,p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy & Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,I currently have a differentiated sight word c...,NaN,NaN,My students need 6 Ipod Nano's to create and d...,26,1
1,p039565,df72a3ba8089423fa8a94be88060f6ed,Mrs.,GA,2017-04-26 15:57:28,Grades 3-5,"Music & The Arts, Health & Sports","Performing Arts, Team Sports",Keep Calm and Dance On,Our elementary school is a culturally rich sch...,We strive to provide our diverse population of...,NaN,NaN,My students need matching shirts to wear for d...,1,0
2,p233823,a9b876a9252e08a55e3d894150f75ba3,Ms.,UT,2017-01-01 22:57:44,Grades 3-5,"Math & Science, Literacy & Language","Applied Sciences, Literature & Writing",Lets 3Doodle to Learn,Hello;\r\nMy name is Mrs. Brotherton. I teach ...,We are looking to add some 3Doodler to our cla...,NaN,NaN,My students need the 3doodler. We are an SEM s...,5,1
3,p185307,525fdbb6ec7f538a48beebaa0a51b24f,Mr.,NC,2016-08-12 15:42:11,Grades 3-5,Health & Sports,Health & Wellness,"\""Kid Inspired\"" Equipment to Increase Activit...",My students are the greatest students but are ...,"The student's project which is totally \""kid-i...",NaN,NaN,My students need balls and other activity equi...,16,0
4,p013780,a63b5547a7239eae4c1872670848e61a,Mr.,CA,2016-08-06 09:09:11,Grades 6-8,Health & Sports,Health & Wellness,We need clean water for our culinary arts class!,My students are athletes and students who are ...,For some reason in our kitchen the water comes...,NaN,NaN,My students need a water filtration system for...,42,1

In [16]:
proposals['approved'].describe()

count             182,080.00
mean                    0.85
std                     0.36
min                     0.00
25%                     1.00
50%                     1.00
75%                     1.00
max                     1.00
Name: approved, dtype: float64

In [36]:
proposals['previously_posted_projects'].describe()

count             182,080.00
mean                   11.24
std                    28.02
min                     0.00
25%                     0.00
50%                     2.00
75%                     9.00
max                   451.00
Name: previously_posted_projects, dtype: float64

##### Data cleaning steps

1. create dummy_variables for categorical responses

##### 1) Dummy variables

In [17]:
# teacher prefix
proposals['teacher_prefix'].value_counts()/len(proposals['teacher_prefix'])

Mrs.                      0.52
Ms.                       0.36
Mr.                       0.10
Teacher                   0.02
Dr.                       0.00
Name: teacher_prefix, dtype: float64

In [18]:
# state
proposals['state'].value_counts()/len(proposals['state'])

CA                   0.14
TX                   0.07
NY                   0.07
FL                   0.06
NC                   0.05
IL                   0.04
GA                   0.04
SC                   0.04
MI                   0.03
PA                   0.03
IN                   0.02
MO                   0.02
OH                   0.02
MA                   0.02
LA                   0.02
WA                   0.02
OK                   0.02
NJ                   0.02
AZ                   0.02
VA                   0.02
WI                   0.02
AL                   0.02
TN                   0.02
UT                   0.02
CT                   0.02
MD                   0.01
NV                   0.01
MS                   0.01
KY                   0.01
OR                   0.01
MN                   0.01
CO                   0.01
AR                   0.01
ID                   0.01
IA                   0.01
KS                   0.01
NM                   0.01
DC                   0.00
HI                   0.00
WV                   0.00
ME                   0.00
DE                   0.00
NH                   0.00
AK                   0.00
SD                   0.00
NE                   0.00
RI                   0.00
MT                   0.00
ND                   0.00
WY                   0.00
VT                   0.00
Name: state, dtype: float64

In [19]:
# grades
proposals['grade_category'].value_counts()/len(proposals['state'])

Grades PreK-2                   0.41
Grades 3-5                      0.34
Grades 6-8                      0.15
Grades 9-12                     0.10
Name: grade_category, dtype: float64

In [20]:
# main subjects
print(proposals['subject_categories'].value_counts())
print(len(proposals['subject_categories'].value_counts()))

Literacy & Language                           39257
Math & Science                                28555
Literacy & Language, Math & Science           24499
Health & Sports                               16951
Music & The Arts                               8527
Special Needs                                  7065
Literacy & Language, Special Needs             6685
Applied Learning                               6310
Math & Science, Literacy & Language            3843
Applied Learning, Literacy & Language          3725
History & Civics                               3065
Math & Science, Special Needs                  3010
Literacy & Language, Music & The Arts          2878
Math & Science, Music & The Arts               2761
Applied Learning, Special Needs                2481
Health & Sports, Special Needs                 2368
History & Civics, Literacy & Language          2288
Warmth, Care & Hunger                          2191
Math & Science, Applied Learning               2071
Applied Learning, Math & Science               1711
Literacy & Language, History & Civics          1315
Health & Sports, Literacy & Language           1308
Applied Learning, Music & The Arts             1241
Math & Science, History & Civics               1087
Literacy & Language, Applied Learning          1038
Applied Learning, Health & Sports              1018
Math & Science, Health & Sports                 697
History & Civics, Music & The Arts              544
History & Civics, Math & Science                525
Special Needs, Music & The Arts                 521
Health & Sports, Math & Science                 470
History & Civics, Special Needs                 417
Applied Learning, History & Civics              303
Health & Sports, Applied Learning               297
Health & Sports, Music & The Arts               262
Music & The Arts, Special Needs                 235
Literacy & Language, Health & Sports            127
Health & Sports, History & Civics                67
History & Civics, Applied Learning               65
Special Needs, Health & Sports                   64
Special Needs, Warmth, Care & Hunger             35
Music & The Arts, Health & Sports                32
Health & Sports, Warmth, Care & Hunger           31
Music & The Arts, History & Civics               29
Literacy & Language, Warmth, Care & Hunger       25
Applied Learning, Warmth, Care & Hunger          22
Music & The Arts, Applied Learning               21
History & Civics, Health & Sports                20
Math & Science, Warmth, Care & Hunger            19
Music & The Arts, Warmth, Care & Hunger           3
History & Civics, Warmth, Care & Hunger           1
Name: subject_categories, dtype: int64
51

In [21]:
# sub subjects
print(proposals['subject_subcategories'].value_counts())
print(len(proposals['subject_subcategories'].value_counts()))

Literacy                                        15775
Literacy, Mathematics                           13863
Literature & Writing, Mathematics                9976
Literacy, Literature & Writing                   9282
Mathematics                                      9041
Literature & Writing                             7474
Special Needs                                    7065
Health & Wellness                                5924
Applied Sciences, Mathematics                    5651
Literacy, Special Needs                          4091
Applied Sciences                                 4037
Gym & Fitness, Health & Wellness                 3864
Visual Arts                                      3671
ESL, Literacy                                    3624
Music                                            2427
Literature & Writing, Special Needs              2244
Warmth, Care & Hunger                            2191
Health & Wellness, Special Needs                 2045
Gym & Fitness                                    1960
Mathematics, Special Needs                       1948
Environmental Science                            1825
Team Sports                                      1752
Environmental Science, Health & Life Science     1672
Applied Sciences, Environmental Science          1663
Music, Performing Arts                           1507
Early Development                                1498
Health & Life Science                            1439
Other                                            1397
Environmental Science, Mathematics               1387
Early Development, Special Needs                 1321
                                                ...
ESL, Gym & Fitness                                  3
College & Career Prep, Gym & Fitness                3
Community Service, Gym & Fitness                    2
ESL, Team Sports                                    2
Gym & Fitness, Parent Involvement                   2
Parent Involvement, Warmth, Care & Hunger           2
Financial Literacy, Music                           2
Extracurricular, Foreign Languages                  2
Civics & Government, Foreign Languages              2
Economics, Other                                    2
Financial Literacy, Health & Wellness               2
Nutrition Education, Parent Involvement             2
Early Development, Economics                        2
Financial Literacy, Performing Arts                 2
Community Service, Financial Literacy               2
Financial Literacy, Parent Involvement              2
Parent Involvement, Team Sports                     1
Civics & Government, Parent Involvement             1
Gym & Fitness, Social Sciences                      1
Gym & Fitness, Warmth, Care & Hunger                1
History & Geography, Warmth, Care & Hunger          1
Economics, Nutrition Education                      1
Extracurricular, Warmth, Care & Hunger              1
Civics & Government, Nutrition Education            1
ESL, Economics                                      1
Financial Literacy, Foreign Languages               1
Economics, Extracurricular                          1
Economics, Music                                    1
Economics, Foreign Languages                        1
Music, Nutrition Education                          1
Name: subject_subcategories, Length: 407, dtype: int64
407

- teacher prefix, state and grade can simply be transformed with get_dummies().
- the subject variables should be split at the comma and a dummy created for each subject.

In [22]:
# write a program to get list of all unique subjects
def get_subjects(series):
    subject_combinations = list(set(series))
    subjects = []
    for combination in subject_combinations:
        subjects.extend(combination.split(','))
        subjects = list(set(subject.replace(' ', '') for subject in subjects))
    return subjects

In [23]:
subjects = get_subjects(proposals['subject_categories'])
subsubjects = get_subjects(proposals['subject_subcategories'])

In [24]:
print(subjects)
print(len(subjects))

['Math&Science', 'SpecialNeeds', 'History&Civics', 'Literacy&Language', 'AppliedLearning', 'Health&Sports', 'Music&TheArts', 'Care&Hunger', 'Warmth']
9

In [25]:
print(subsubjects)
print(len(subsubjects))

['Economics', 'EnvironmentalScience', 'Music', 'PerformingArts', 'Care&Hunger', 'Warmth', 'CharacterEducation', 'Literacy', 'FinancialLiteracy', 'NutritionEducation', 'Gym&Fitness', 'Civics&Government', 'Health&LifeScience', 'ParentInvolvement', 'CommunityService', 'ForeignLanguages', 'Extracurricular', 'AppliedSciences', 'Mathematics', 'VisualArts', 'TeamSports', 'Literature&Writing', 'Health&Wellness', 'Other', 'History&Geography', 'EarlyDevelopment', 'SpecialNeeds', 'SocialSciences', 'ESL', 'College&CareerPrep']
30

In [27]:
# function to create a dummy if subject is included in subject combination
def create_subject_dummies(string, subject_list):
    subjects = string.split(',')
    subjects = list(set(subject.replace(' ', '') for subject in subjects))
    dummy_values = [int(subject in subjects) for subject in subject_list]
    return dummy_values

In [28]:
subject_columns = proposals['subject_categories'].apply(lambda x: create_subject_dummies(x, subject_list=subjects))
proposals[subjects]=pd.DataFrame(subject_columns.tolist())

In [29]:
subsubject_columns = proposals['subject_subcategories'].apply(lambda x: create_subject_dummies(x, subject_list=subsubjects))
proposals[subsubjects]=pd.DataFrame(subsubject_columns.tolist())

In [34]:
proposals[subjects].mean().sort_values()

Care&Hunger                         0.01
Warmth                              0.01
History&Civics                      0.05
Music&TheArts                       0.09
AppliedLearning                     0.11
SpecialNeeds                        0.13
Health&Sports                       0.13
Math&Science                        0.38
Literacy&Language                   0.48
dtype: float64

In [33]:
proposals[subsubjects].mean().sort_values()

Economics                              0.00
CommunityService                       0.00
FinancialLiteracy                      0.01
ParentInvolvement                      0.01
Civics&Government                      0.01
Extracurricular                        0.01
ForeignLanguages                       0.01
NutritionEducation                     0.01
Care&Hunger                            0.01
Warmth                                 0.01
SocialSciences                         0.02
PerformingArts                         0.02
CharacterEducation                     0.02
TeamSports                             0.02
Other                                  0.02
College&CareerPrep                     0.02
Music                                  0.03
History&Geography                      0.03
EarlyDevelopment                       0.04
ESL                                    0.04
Health&LifeScience                     0.04
Gym&Fitness                            0.04
EnvironmentalScience                   0.05
VisualArts                             0.06
Health&Wellness                        0.09
AppliedSciences                        0.10
SpecialNeeds                           0.13
Literature&Writing                     0.20
Mathematics                            0.26
Literacy                               0.31
dtype: float64

In [17]:
proposals = proposals.join(pd.get_dummies(proposals[['teacher_prefix', 'state', 'grade_category']]))

#### Resources

In [37]:
resources = pd.read_pickle('resources.pkl')

In [19]:
resources.head()

,id,description,quantity,price
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95

In [38]:
resources.describe()

                  quantity                price
count         1,541,272.00         1,541,272.00
mean                  2.86                50.28
std                   7.57               144.73
min                   1.00                 0.00
25%                   1.00                 7.90
50%                   1.00                14.99
75%                   2.00                39.80
max                 800.00             9,999.00

##### Steps

1. Calculate total price per item
2. Calculate total price for requested resources
3. Count number of items
4. Concatenate all items description
5. Keep one record per ID

###### 1. Calculate total price per item

In [39]:
resources['total_item_price'] = resources['price'] * resources['quantity']

##### 2. Calculate total price for requested resources

In [40]:
resources['total_price'] = resources.groupby('id')['total_item_price'].transform('sum')

###### 3. Count number of items

In [41]:
resources['num_items'] = resources.groupby('id')['id'].transform('count')

###### 4. Concatenate all items description

In [42]:
# fuction takes a series and joins all values to one string
# if any value not string, transform all values to string
# try/except fro computation speed
def join_items(series):
    try:
        joined_str = ' '.join(series)
    except TypeError:
        joined_str = ' '.join([str(x) for x in series])
    return joined_str

In [43]:
resources['total_description'] = resources.groupby('id')['description'].transform(join_items)

In [44]:
resources.head()

,id,description,quantity,price,total_item_price,total_price,num_items,total_description
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00,149.00,149.00,1,LC652 - Lakeshore Double-Space Mobile Drying Rack
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95,44.85,202.49,7,Bouncy Bands for Desks (Blue support pipes) Co...
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45,8.45,202.49,7,Bouncy Bands for Desks (Blue support pipes) Co...
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59,27.18,202.49,7,Bouncy Bands for Desks (Blue support pipes) Co...
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95,74.85,202.49,7,Bouncy Bands for Desks (Blue support pipes) Co...

##### 5. Keep one record per ID

In [45]:
new_resources = resources.drop_duplicates('id')

In [46]:
# Keep only new columns with aggregate information
new_resources = new_resources[['id', 'total_price', 'num_items', 'total_description']]

In [47]:
new_resources.describe()

               total_price            num_items
count           260,115.00           260,115.00
mean                544.88                 5.93
std                 547.75                 8.32
min                 100.00                 1.00
25%                 245.99                 1.00
50%                 397.42                 3.00
75%                 690.55                 7.00
max              17,901.94               100.00

#### Merge both data sets

In [28]:
pre_cleaned_proposals = proposals.merge(new_resources, on='id', how = 'left')

In [29]:
pre_cleaned_proposals.head()

,id,teacher_id,teacher_prefix,state,datetime,grade_category,subject_categories,subject_subcategories,title,essay_1,...,state_WI,state_WV,state_WY,grade_category_Grades 3-5,grade_category_Grades 6-8,grade_category_Grades 9-12,grade_category_Grades PreK-2,total_price,num_items,total_description
0,p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy & Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,...,0,0,0,0,0,0,1,899.94,2,Apple - iPod nano 16GB MP3 Player (8th Genera...
1,p039565,df72a3ba8089423fa8a94be88060f6ed,Mrs.,GA,2017-04-26 15:57:28,Grades 3-5,"Music & The Arts, Health & Sports","Performing Arts, Team Sports",Keep Calm and Dance On,Our elementary school is a culturally rich sch...,...,0,0,0,1,0,0,0,400.00,1,Reebok Girls' Fashion Dance Graphic T-Shirt - ...
2,p233823,a9b876a9252e08a55e3d894150f75ba3,Ms.,UT,2017-01-01 22:57:44,Grades 3-5,"Math & Science, Literacy & Language","Applied Sciences, Literature & Writing",Lets 3Doodle to Learn,Hello;\r\nMy name is Mrs. Brotherton. I teach ...,...,0,0,0,1,0,0,0,469.99,1,3doodler Start Full Edu Bundle
3,p185307,525fdbb6ec7f538a48beebaa0a51b24f,Mr.,NC,2016-08-12 15:42:11,Grades 3-5,Health & Sports,Health & Wellness,"\""Kid Inspired\"" Equipment to Increase Activit...",My students are the greatest students but are ...,...,0,0,0,1,0,0,0,684.47,5,BALL PG 4'' POLY SET OF 6 COLORS BALL PLAYGROU...
4,p013780,a63b5547a7239eae4c1872670848e61a,Mr.,CA,2016-08-06 09:09:11,Grades 6-8,Health & Sports,Health & Wellness,We need clean water for our culinary arts class!,My students are athletes and students who are ...,...,0,0,0,0,1,0,0,711.00,1,Crown Berkey Water Filter With 2 Black and 2 P...

#### Text cleaning

1. All lower case letters
2. Remove numbers and punctuation
3. Correct spelling mistakes
4. Stem words

In [30]:
# function to remove numbers and punctuation
def remove_punct_num(text):
    punct = str.maketrans(dict.fromkeys(string.punctuation))
    text = text.translate(punct)
    digits = str.maketrans(dict.fromkeys(string.digits))
    text = text.translate(digits)
    return text

In [31]:
# function to correct spelling
def correct_spelling(word):
    if not hobj.spell(word):
        if word in words_w_apostrophy.keys():
            word = words_w_apostrophy[word]
        else:
            correct_words = hobj.suggest(word)
            try:
                word = correct_words[0].replace("-", " ")
            except IndexError:
                # No correct suggestion for word, remove 
                word = ''
    return word

In [32]:
# dictionary with words that spell check get's wrong, words with appostrophe
words_w_apostrophy = { 'didnt': "didn't",
                  'dont': "do not",
                  'wasnt': "was not",
                  'arent': "are not",
                  'werent': "were not",
                  'doesnt': "does not",
                  'youve': "you have",
                  'whod': "who would",
                  'ive': "i have",
                  'wouldve': "would have",
                  'im': "i am",
                  'weve': "we have",
                  'thats': "that is",
                  'isnt': "is not",
                  'theyve': "they have",
                  'theyre': "they are",
                  'hasnt': "has not"}

In [33]:
# fuction that stems word
def stem(word):
    word = hobj.stem(word)
    try:
        return word[0].decode("utf-8") 
    except IndexError: #Not real word, no stem available
        return ''

In [35]:
def process_text(text):
    # remove punctuation and numbers
    text = remove_punct_num(text)
    # set everything to lower case
    text = text.lower()
    # split the string into words for individual processing
    words = text.split()
    # new list for processed words
    processed = []
    for word in words:
        # correct spelling
        word = correct_spelling(word)
        # somtimes corrected word contains two new words
        # seperated here and porcessed individually
        split_words = word.split()
        for split_word in split_words:
            # remove stop words
            if split_word not in stop_words:
                # stem the word and append to processed list
                processed.append(stem(split_word))
    # return a processed string            
    return ' '.join(processed)

I combine essay questions 1 and 2 as well as 3 and 4 because the number of questions changed after May 17, 2016.
Before May 17, 2016, the essay questions were:
    
* project_essay_1: "Introduce us to your classroom"
* project_essay_2: "Tell us more about your students"
* project_essay_3: "Describe how your students will use the materials you're requesting"
* project_essay_4: "Close by sharing why your project will make a difference"

Starting on May 17, 2016, the number of essays was reduced from 4 to 2, and the prompts for the first 2 essays were changed to the following:

* project_essay_1: "Describe your students: What makes your students special? Specific details about their background, your neighborhood, and your school are all helpful."
* project_essay_2: "About your project: How will these materials make a difference in your students' learning and improve their school lives?"

For all projects with project_submitted_datetime of 2016-05-17 and later, the values of project_essay_3 and project_essay_4 will be NaN.

In [36]:
max(pre_cleaned_proposals.loc[(pre_cleaned_proposals['datetime']>datetime.datetime(2016, 5, 17))                          
                          & (pd.notnull(pre_cleaned_proposals['essay_3'])), 'datetime'])

Timestamp('2016-05-17 09:38:09')

In [37]:
max(pre_cleaned_proposals.loc[(pre_cleaned_proposals['datetime']>datetime.datetime(2016, 5, 17))                          
                          & (pd.notnull(pre_cleaned_proposals['essay_4'])), 'datetime'])

Timestamp('2016-05-17 09:38:09')

In [38]:
pre_cleaned_proposals.loc[(pre_cleaned_proposals['datetime']>datetime.datetime(2016, 5, 17))                          
                          & (pre_cleaned_proposals['datetime']<datetime.datetime(2016, 5, 17, 12))
                             , ['essay_3', 'essay_4', 'datetime']].sort_values('datetime')

,essay_3,essay_4,datetime
87664,My students will use these materials to learn ...,This will make a huge difference because not o...,2016-05-17 00:12:07
131138,"Currently, my students read through all the bo...",Learning to read is the most important thing a...,2016-05-17 00:19:54
128571,We come to the carpet to work all the time. I ...,Our class will be grateful for donations to ou...,2016-05-17 00:28:54
50589,"Ideally, I would love to have a class set of C...","Even with limited access to technology, my stu...",2016-05-17 00:39:38
31747,I am requesting 2 Classroom Select Lock Edge R...,At the beginning of the year my class did a le...,2016-05-17 00:44:30
179380,It is a difficult transition for some children...,Our Kindergarteners are faced with many challe...,2016-05-17 00:45:09
84789,The iPad will be used as a portal to access on...,The common core state standards are designed t...,2016-05-17 00:46:31
14609,To improve my students' understanding of the s...,I like to provide my students with as many opp...,2016-05-17 00:52:40
118459,Students will be able to select a learning spa...,My project will encourage other teachers to ac...,2016-05-17 00:55:25
132044,The beauty of the cozy shades is that they wil...,Donations to this project will improve my clas...,2016-05-17 01:05:51
74408,Laptop would be a perfect launching pad for ea...,We will spend time practicing basic keyboardin...,2016-05-17 01:11:04
16963,Our middle school basketball team is located i...,Your donations will positively impact our stud...,2016-05-17 02:32:47
74142,I will use these books that are focused on fri...,My goal is for these books and the ensuing dis...,2016-05-17 04:09:44
900,Kindergarten and 1st grade are just beginning ...,Having these glockenspiels will allow the stud...,2016-05-17 06:10:53
138581,"We'll use these requested Pteranodons, Diatrym...",Your support of my project will bring exciting...,2016-05-17 08:03:45
179315,My students will be able to take their video a...,"By having the IPads, my students will have mor...",2016-05-17 08:28:30
142936,Empowering Students Through Art is my goal. M...,Opening up the doors to creativity allows my s...,2016-05-17 08:35:36
85746,We will discuss the book and concentrate on th...,This project will impact the students' lives b...,2016-05-17 08:44:57
175484,The materials I am requesting will be used by ...,"By donating to our project, you will help stud...",2016-05-17 08:50:53
135471,I currently have 4 standing desks in my class ...,This donation would greatly help my students. ...,2016-05-17 08:54:17
49723,Children with autism often need a specialized ...,My students deserve an appropriate education t...,2016-05-17 08:57:49
179572,We take eating and feeding ourselves for grant...,Adaptive feeding tools are important to teach ...,2016-05-17 08:59:45
80774,My students will use a variety of apps to list...,Using technology for independent practice will...,2016-05-17 09:04:54
72262,These book cases will give us more space for o...,"By donating to our project, you will help give...",2016-05-17 09:07:59
51107,"The students will use the soccer balls, footba...","With the soccer balls, footballs, and basketba...",2016-05-17 09:09:52
133343,Each student will get a workbook. When I leav...,I am 37 weeks pregnant and I am responsible fo...,2016-05-17 09:10:46
31911,"In my English classes, written communication i...",This type of communication- via electronic dev...,2016-05-17 09:12:57
165972,Having these graphing calculators will improve...,Having to spend less time on homework or at sc...,2016-05-17 09:37:49
66153,"I am asking for a river aquarium with animals,...",This aquarium and terrarium will have a huge i...,2016-05-17 09:38:09
18260,NaN,NaN,2016-05-17 10:00:51
72192,NaN,NaN,2016-05-17 10:11:45
169414,NaN,NaN,2016-05-17 10:12:21
137751,NaN,NaN,2016-05-17 10:16:55
32726,NaN,NaN,2016-05-17 10:28:17
172471,NaN,NaN,2016-05-17 10:37:43
89760,NaN,NaN,2016-05-17 10:51:31
73909,NaN,NaN,2016-05-17 10:57:05
89849,NaN,NaN,2016-05-17 10:58:40
95837,NaN,NaN,2016-05-17 11:09:31
84236,NaN,NaN,2016-05-17 11:09:53
115809,NaN,NaN,2016-05-17 11:15:39
94074,NaN,NaN,2016-05-17 11:18:52
87272,NaN,NaN,2016-05-17 11:36:13
89028,NaN,NaN,2016-05-17 11:42:03
91600,NaN,NaN,2016-05-17 11:44:44
22201,NaN,NaN,2016-05-17 11:51:19
54391,NaN,NaN,2016-05-17 11:51:54
175893,NaN,NaN,2016-05-17 11:54:24
83985,NaN,NaN,2016-05-17 11:54:48
172603,NaN,NaN,2016-05-17 11:56:33
148178,NaN,NaN,2016-05-17 11:57:42

In [39]:
pre_cleaned_proposals['essay_3'].isnull().sum()

175706

In [40]:
pre_cleaned_proposals['essay_4'].isnull().sum()

175706

##### Combine questions 1 and 2, for proposals before May 17, 2016

In [41]:
pre_cleaned_proposals.loc[(pre_cleaned_proposals['datetime']<datetime.datetime(2016, 5, 17, 9, 39)),
                        'essay1'] = pre_cleaned_proposals['essay_1'] + ' ' + pre_cleaned_proposals['essay_2']

In [42]:
pre_cleaned_proposals['essay1'].isnull().sum()

175706

In [43]:
pre_cleaned_proposals.loc[(pre_cleaned_proposals['datetime']>datetime.datetime(2016, 5, 17, 9, 39)),
                        'essay1'] = pre_cleaned_proposals['essay_1']

In [44]:
# check
pre_cleaned_proposals['essay1'].isnull().sum()

0

##### Combine questions 3 and 4, for proposals before May 17, 2016

In [45]:
pre_cleaned_proposals.loc[(pre_cleaned_proposals['datetime']<datetime.datetime(2016, 5, 17, 9, 39)),
                        'essay2'] = pre_cleaned_proposals['essay_3'] + ' ' + pre_cleaned_proposals['essay_4']

In [46]:
pre_cleaned_proposals['essay2'].isnull().sum()

175706

In [47]:
pre_cleaned_proposals.loc[(pre_cleaned_proposals['datetime']>datetime.datetime(2016, 5, 17, 9, 39)),
                        'essay2'] = pre_cleaned_proposals['essay_2']

In [48]:
pre_cleaned_proposals['essay2'].isnull().sum()

0

###### Clean all text columns

In [49]:
text_columns = ['essay1',
                'essay2',
                'resource_summary',
                'total_description']

In [50]:
for column in text_columns:
    print(column)
    new_col_name = 'c_' + column
    pre_cleaned_proposals[new_col_name] = pre_cleaned_proposals[column].apply(process_text)

essay1
essay2
resource_summary
total_description

In [51]:
pre_cleaned_proposals.to_pickle('pre_cleaned_proposals.pkl')